<div class="row justify-content-center">
    <div class="col-3 text-center">
        <h6>{{@question}}</h6>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">$</span>
            </div>
            <input type="text" class="form-control" id="billAmount" aria-label="Amount">
        </div>
    </div>
</div>

{{yield}}