<div class="row justify-content-center">
    <div class="col-3 text-center">
        <button type="button" id="calculate" {{action "calculateTip"}}>{{@buttontext}}</button>
    </div>
</div>

{{yield}}