<div class="row justify-content-center" id="totals" style="display: none">
    <div class="col-5 my-5 text-center">
        <div>
            <h4>Tip Amount</h4>
            <h2><sup>$</sup><span id="tip">0.00</span></h2>
        </div>
    </div>
    <div class="col-5 my-5 text-center">
        <div>
            <h4>Total with Tip</h4>
            <h2><sup>$</sup><span id="totalwithtip">0.00</span></h2>
        </div>
    </div>
</div>

{{yield}}