<div class="row justify-content-center" >
    <div class="col-3 my-3 text-center">
        <div id="totalTip" style="display: none">
            <h3>Tip Amount</h3>
            <h4><sup>$</sup><span id="tip">0.00</span></h4>
        </div>
    </div>
    <div class="col-3 my-3 text-center">
        <div id="totalWithTip" style="display: none">
            <h3>Total with Tip</h3>
            <h4><sup>$</sup><span id="totalwithtip">0.00</span></h4>
        </div>
    </div>
</div>

{{yield}}