html, .container-fluid {
    background-color: whitesmoke;
}

.content {
    border: 2px solid black;
    padding: 25px;
    background-color: coral;
}

h1 {
    color: darkcyan;
    font-size: 60px;
    font-weight: bold;
}

h6 {
    font-size: 20px;
    text-decoration: underline;
    font-weight: bold;
}

#totals {
    margin: 20px;
    background-color: lawngreen;
}

#tip, #totalwithtip {
    text-decoration: underline;
}